body {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.title {
  align-self: center;
  color: red;
  flex-grow: 1;
  text-align: center;
  width: 100%;
}

#board {
  align-self: center;
  background: darkseagreen;
  line-height: 0px;
  height: 415px;
  width: 215px;
}

