body {
  align-items: center;
  display: flex;
  flex-direction: column;
  touch-action: manipulation;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.title {
  align-self: center;
  color: red;
  flex-grow: 1;
  text-align: center;
  width: 100%;
}

#board {
  align-self: center;
  border: 1px solid black;
  line-height: 0px;
  height: 435px;
  width: 220px;
}

.tutorial > span {
  display: inline-block;
}

.left-button,
.right-button {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform:rotate(-90deg);
}

.controller {
  display: flex;
  flex-direction: column;
  font-size: 32px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.controller > .button-row > span {
  display: inline-block;
}

.spacer {
  color: white;
  cursor: none;
  pointer-events: none;
  touch-action: none;
}

.button-row--top,
.button-row--bottom {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .controller {
    display: none;
  }
}

@supports (translate: 0) {
  .left-button,
  .right-button {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}