body {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.title {
  align-self: center;
  color: red;
  flex-grow: 1;
  text-align: center;
  width: 100%;
}

#board {
  align-self: center;
  background: darkseagreen;
  border: 1px solid black;
  line-height: 0px;
  height: 435px;
  width: 220px;
}

.tutorial > span {
  display: inline-block;
}

.left-button,
.right-button {
  rotate: -90deg;
}

.controller {
  display: flex;
  flex-direction: column;
  font-size: 32px;
}

.controller > .button-row > span {
  display: inline-block;
}

.spacer {
  color: white;
  cursor: none;
  pointer-events: none;
}

.button-row--top,
.button-row--bottom {
  text-align: center;
}